// Copy this file to 'secrets.h' and fill in your real credentials
#define EXAMPLE_ESP_WIFI_SSID "YOUR_ROUTER_NAME"
#define EXAMPLE_ESP_WIFI_PASS "YOUR_ROUTER_PASSWORD"

#define AP_SSID "ESP32_Direct"
#define AP_PASS "password123"